body {
  background-color: #2c2f33;
}

h1 {
  font-family: "Londrina Shadow";
  text-align: center;
  font-size: 300%;
  color: #00aeff;
}

h2, h3 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
}

p, li {
  color: orange;
  font-family: "Montserrat"
}

.listheader {
  color: violet;
}
a {
  color: #7289DA;
}
